@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background: rgb(10, 136, 10);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    font-weight: bold;
}
.bodyFlexContainer {
    margin-top: 1rem;
    display: flex;
}
.bodyFlexContainer p {
    margin-left: 1rem;
}
.bodyFlexContainer h4 {
    margin-left: 1rem;
}
.current {
    text-decoration: underline;
}
.logo {
    height: 2.5rem;
}
.subtitle {
    color: grey;
    margin: 0;
}
.container {
    
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.card {
    background-color: #228B22;
    padding: 30px;
    border-radius: 5%;
    box-shadow: 4px 4px 2px 0px #000000;
}
.pageHeading {
    margin: 1rem 0 0 0;
    background-color: rgb(255, 255, 255);
}
.navTitle {
    margin: 0;
    display: inline-flex;
    flex: auto;
    justify-content: space-between;
}
.navTitle a {
    display: inline;
    padding: 0;
}
.aboutTitle {
    margin: 0.5rem 0;
}
.aboutText {
    margin: 0.25rem 0;
}
#lockImg {
    border-radius: 0.5rem;
    width: 30vw;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #000000;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px #00000001;
}

.label-float label{
    color: black;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label{
    font-size: 13px;
    margin-top: 0;
    color: black;
}


button{
    background-color: transparent;
    border-color:black;
    color: black;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
}

button:hover{
    background-color: black;
    color: #fff;
}

.justify-center{
    display: flex;
    justify-content: center;
}

hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p{
    color: black;
    font-size: 14pt;
    text-align: center;
}

a{
    color: rgb(120, 184, 132);
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
}

a:hover{
    color: cornsilk;
}